- test:
    timeout:
      minutes: 5
    definitions:
    - repository: https://github.com/kernelci/kernelci-core
      branch: master
      from: git
      history: False
      path: templates/sleep/sleep.yaml
      name: sleep
      parameters:
        test_params: "{{ test_params }}"
